/* html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
} */

*{
    margin: 0;
    padding: 0;
    }

    ul {
    list-style: none;
    } 
    
    a {
    text-decoration: none;
    } 
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    body {
        font-family: 'Roboto', sans-serif; 
    }
    
    :root{
        --title-text-color:#212121;
        --primary-text-color:#757575;
        --hero-text-color:#ffffff;
        --accent-text-color:#2196F3;
        /* Шапка страницы */
        --logo-header-color:#2196F3;
        --studio-header-color:#000000;
        /* Герой страницы */
        --hero-background-color:#2F303A;   
        /* Наша команда */
        --team-background-color:#F5F4FA;
        --team-cards-background-color:#ffffff;
        /* Подвал страницы */
        --footer-background-color:#2F303A;
        --logo-footer-color:#2196F3;
        --studio-footer-color:#ffffff;
        --address-contacts-color:#ffffff;
        --address-contacts-link-color:rgba(255, 255, 255, 0.6);
        /* Портфолио */
        --btn-project-text:#212121;
        --btn-project-background:#F5F4FA;
        --btn-project-hover:#ffffff;    
    }
    
    /* index.htlm стиль */
    
    /* Шапка страницы */
    
   .container-header{
        width: 1200px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
        justify-content: space-between;
   }
    .logo {
        display:block;
        align-items: center;
        padding-right:93px;
        color: var(--logo-header-color);

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2em;
        letter-spacing: 0.03em;
    }
    .studio{
        color:var(--studio-header-color); 
    }
    .logo:hover,
    .logo:focus{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container-header,
    .main-nav,
    .nav-list,
    .item,
    .nav-contacts{
        display: flex;
        align-items: center;
    }
    .nav-list .item:not(:last-child){
        padding-right: 50px;
    }
    .nav-list .link{ 
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
    }
    .nav-list .link:hover,
    .nav-list .link:focus,
    .nav-list .link.current {
        color: var(--accent-text-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    } 
    .nav-contacts .contacts:first-child{  
       padding-right: 50px ;
    }
    .nav-contacts a{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }
    .nav-contacts a:hover,
    .nav-contacts a:focus {
        color: var(--accent-text-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    } 

    /* ------Герой страницы------ */
    .container-hero{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
        text-align: center;
    }
    .hero{
        background:var(--hero-background-color);
    }
    .hero-description{
        display:block;
        padding-top: 200px;
        padding-bottom: 30px; 

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36em;  
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        color: var(--hero-text-color);
    }
    .hero-button{
        display:inline-block;
        
        height: 50px;
        width: 200px;
        border: 0;
        border-radius: 4px;
        padding: 8px 16px;
        margin-bottom: 200px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.87em; 
        letter-spacing: 0.06em;
        
        background: var(--accent-text-color);
        color: var(--hero-text-color);
    }

    /* ------Организация работы------ */
    .about{
        display: flex;
        justify-content: center;
    }
    .container-about{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
    } 
    .advantages-list{
        display: flex; 
        padding:94px 0px;   
    }
    .advantages-item{
        margin-right: 30px;
    } 
    .advantages-item:last-child{
        margin-right: 0px;
    }
    .advantages-item h3{
        display: block;
        padding-bottom: 10px;
    }
    .advantages{
        display: none;
    }
    .about h3{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
    }
    .about p{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71em;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
    }
    
    /* ------Деятельность------ */
    .activity-container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 94px;
        padding: 0px 15px;
    }
    .activity-list{
        display: flex;
        justify-content: center;
    }
    .activity-item{
        display:block;
        margin-right: 30px;
    }
    .activity-item:last-child{
        margin-right: 0px;
    }
    .activity h2{
        display:block;
        padding-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16em;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    
    /* ------Наша команда------ */
    .team-container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 94px 15px;
    }
    .team{
        background:var(--team-background-color);
    }
    .team-list{
        justify-content: center;
        display: flex;
    }
    .team-cards{
        display:block;
        margin-right: 30px;
 
        border: 0;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        background-color:var(--team-cards-background-color);
    }
    .team-cards:last-child{
        margin-right: 0px;
    }
    .team h2{
        display:block;
        padding-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16em;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    .team-list h3{
        padding-top: 30px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.18em;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    .team-list p{
        padding-top: 10px;
        margin-bottom: 30px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.18em;
        text-align: center;
        letter-spacing: 0.03em; 
        color: var(--primary-text-color);
    }
    
    /* Подвал страницы */
    footer{
        background: var(--footer-background-color);
    }
    .adress-container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 15px;  
    }
    .logo-footer{
        display: block;
        padding-bottom: 20px;

        color: var(--logo-footer-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2em;
        letter-spacing: 0.03em;
    }
    .studio-footer{
        color:var(--studio-footer-color);  
    }
    .adress{
        display: none;
    }
    .address-contacts p{
        display: block;
        padding-bottom: 9px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71em;
        letter-spacing: 0.03em;

        color:var(--address-contacts-color);
    }
    .address-contacts a{
        display: block;
        padding-bottom: 9px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71em;
        letter-spacing: 0.03em;
        color:var(--address-contacts-link-color);
    }
    .address-contacts a:last-child{
        padding-bottom: 0px;
    }
    .address-contacts a:hover,
    .address-contacts a:focus {
        color: var(--accent-text-color);
    } 
    
    /* portfolio.html стиль */
    .project{
        border-top: #ececec 1px solid;
    }
    .container-project{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
    }
    .title-project{
        display : none;
    }
    .list-btn-project{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        padding-top: 94px;
    }
    .list-btn-project li{
        margin-right: 8px;
    }
    .list-btn-project li:last-child{
        margin-right: 0px;
    }
    .btn-project{
        border: 0;
        border-radius: 5px;
        background: var(--btn-project-background);
        color: var(--btn-project-text);
        padding: 4px 8px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62em;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .btn-project:hover,
    .btn-project:focus{
        background-color: var(--accent-text-color);
        color: var(--btn-project-hover);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .project-cards{
        width: 1170px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 64px;
        justify-content: center;
    }
    .project-cards h2{
        padding-top: 20px;
        padding-left: 24px;

        font-weight: 700;
        font-size: 18px;
        line-height: 2em;
        letter-spacing: 0.06em;
        color: var(--title-text-color);
    }
    .project-cards p{
        padding: 4px 0px 20px 24px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.87em;
        letter-spacing: 0.03em;
        color: var(--primary-text-color)
    }
    .container-cards{
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
        
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .container-cards:nth-child(3n){
        margin-right: 0px;
    }
    