/* html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
} */

*{
    margin: 0;
    padding: 0;
    }

    ul {
    list-style: none;
    } 
    
    a {
    text-decoration: none;
    } 
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    body {
        font-family: 'Roboto', sans-serif; 
    }
    
    :root{
        --title-text-color:#212121;
        --primary-text-color:#757575;
        --hero-text-color:#ffffff;
        --accent-text-color:#2196F3;
        --studio-header-color:#000000;
        --hero-background-color:#2F303A;   
        --team-background-color:#F5F4FA;
        --address-contacts-link-color:rgba(255, 255, 255, 0.6);
        --text-shadow: rgba(0, 0, 0, 0.25);
        --cards-border-color:#EEEEEE;
        --project-border-color: #ececec;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    /* index.htlm стиль */
    
    /* Шапка страницы */
   .container-header{
        display: flex;
        align-items: center;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
   }
   .main-nav{
       display: flex;
       margin-right: auto;
   }
    .logo {
        padding-top: 24px;
        padding-bottom: 25px;
        display:block;
        align-items: center;
        margin-right:93px;
        color: var(--accent-text-color);

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2em;
        letter-spacing: 0.03em;
    }
    .studio{
        color:var(--studio-header-color); 
    }
    .logo:hover,
    .logo:focus{
        text-shadow: 0px 4px 4px var(--text-shadow);
    }
    .nav-list{
        display: flex;
    }
    .nav-list .item:not(:last-child){
        margin-right: 50px;
    }
    .nav-list .link{ 
        display: block;
        padding: 30px 0px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
    }
    .nav-list .link:hover,
    .nav-list .link:focus,
    .nav-list .link.current {
        color: var(--accent-text-color);
        text-shadow: 0px 4px 4px var(--text-shadow);
    } 
    .nav-contacts .contacts:first-child{  
        margin-right: 50px ;
    }
    .nav-contacts a{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }
    .nav-contacts a:hover,
    .nav-contacts a:focus {
        color: var(--accent-text-color);
        text-shadow: 0px 4px 4px var(--text-shadow);
    } 

    /* ------Герой страницы------ */
    .container-hero{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        
        padding: 200px 15px;
        text-align: center;
    }
    .hero{
        background:var(--hero-background-color);
    }
    .hero-description{
        margin-bottom: 50px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36em;  
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        color: var(--hero-text-color);
    }
    .hero-button{
        display:inline-block;
        
        height: 50px;
        width: 200px;
        border: 0;
        border-radius: 4px;
        padding: 8px 16px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.87em; 
        letter-spacing: 0.06em;
        
        background: var(--accent-text-color);
        color: var(--hero-text-color);
    }

    /* ------Организация работы------ */
    .about{
        display: flex;
        justify-content: center;
    }
    .container-about{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
    } 
    .advantages-list{
        display: flex; 
        justify-content: center;
        padding:94px 0px;   
    }
    .advantages-item{
        margin-right: 30px;
        width: 270px;
    } 
    .advantages-item:last-child{
        margin-right: 0px;
    }
    .advantages-item h3{
        display: block;
        margin-bottom: 10px;
    }
    .about h3{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
    }
    .about p{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71em;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
    }
    
    /* ------Деятельность------ */
    .activity-container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
        padding-bottom: 94px;
    }
    .activity-list{
        display: flex;
        justify-content: center;
    }
    .activity-item{
        display:block;
        width: 370px;
        margin-right: 30px;
    }
    .activity-item:last-child{
        margin-right: 0px;
    }
    .activity h2{
        display:block;
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16em;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    
    /* ------Наша команда------ */
    .team{
        background:var(--team-background-color);
    }
    .team-container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 94px 15px;
    }
    .team-list{
        display: flex;
        justify-content: center;
    }
    .team-cards{
        display:block;
        width: 270px;
        margin-right: 30px;
 
        border: 0;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px var(--text-shadow));

        background-color:var(--hero-text-color);
    }
    .team-cards:last-child{
        margin-right: 0px;
    }
    .team h2{
        display:block;
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16em;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    .team-list h3{
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.18em;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    .team-list p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18em;
        text-align: center;
        letter-spacing: 0.03em; 
        color: var(--primary-text-color);
    }
    .cards-text{
        padding: 30px 0px;
    }
    
    /* Подвал страницы */
    footer{
        background: var(--hero-background-color);
    }
    .adress-container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 15px;  
    }
    .logo-footer{
        display: block;
        margin-bottom: 20px;

        color: var(--accent-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2em;
        letter-spacing: 0.03em;
    }
    .studio-footer{
        color:var(--hero-text-color);  
    }
    .address-contacts p{
        display: block;
        margin-bottom: 9px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71em;
        letter-spacing: 0.03em;

        color:var(--hero-text-color);
    }
    .address-contacts a{
        display: block;
        margin-bottom: 9px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71em;
        letter-spacing: 0.03em;
        color:var(--address-contacts-link-color);
    }
    .address-contacts a:last-child{
        padding-bottom: 0px;
    }
    .address-contacts a:hover,
    .address-contacts a:focus {
        color: var(--accent-text-color);
    } 
    
    /* portfolio.html стиль */
    .project{
        border-top: 1px solid var(--project-border-color) ;
    }
    .container-project{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
    }
    .list-btn-project{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        padding-top: 94px;
    }
    .list-btn-project li{
        margin-right: 8px;
    }
    .list-btn-project li:last-child{
        margin-right: 0px;
    }
    .btn-project{
        border: 0;
        border-radius: 5px;
        background: var(--team-background-color);
        color: var(--title-text-color);
        padding: 4px 8px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62em;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .btn-project:hover,
    .btn-project:focus{
        background-color: var(--accent-text-color);
        color: var(--hero-text-color);
        filter: drop-shadow(0px 4px 4px var(--text-shadow));
    }
    .project-cards{
        width: 1170px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 64px;
        justify-content: center;
    }
    .project-cards h2{
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2em;
        letter-spacing: 0.06em;
        color: var(--title-text-color);
    }
    .project-cards p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87em;
        letter-spacing: 0.03em;
        color: var(--primary-text-color)
    }
    .container-cards{
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
        
        background: var(--hero-text-color);
        border: 1px solid var(--cards-border-color);
        filter: drop-shadow(0px 4px 4px var(--text-shadow));
    }
    .container-cards:nth-child(3n){
        margin-right: 0px;
    }
    .cards{
        padding: 20px 24px;
    }
    